body {
  font-family: "Bonbon", cursive;
  background-image: url("https://i.pinimg.com/originals/dc/44/23/dc44236712db6e11c027f82b5899b280.jpg");
  text-align: left;
  margin-left: 10%;
}

h1 {
  text-align: left;
}

#cname {
  font-family: "Bonbon", cursive;
  text-align: center;
  border-radius: 20px;
  border: 3px solid green;
}

#pname {
  font-family: "Bonbon", cursive;
  text-align: center;
  border-radius: 20px;
  border: 3px solid green;
}

#send {
  font-family: "Bonbon", cursive;
  border-radius: 20px;
  color: aliceblue;
  background-color: green;
}

#send:hover {
  color: green;
  background-color: aliceblue;
  border-color: green;
}

#reset {
  font-family: "Bonbon", cursive;
  border-radius: 20px;
  color: aliceblue;
  background-color: red;
}

#reset:hover {
  color: red;
  background-color: aliceblue;
  border-color: red;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: green;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#audio {
  text-align: initial;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form {
  flex-grow: 2;
}

.lista {
  flex-grow: 1;
  border-radius: 30px;
  background-color: rgba(0, 128, 0, 0.7);
}
